[Unit]
Description=uWSGI instance to serve myproject
After=network.target
[Service]
User=azureuser
Group=www-data
WorkingDirectory=/home/azureuser/focus_dict
Environment="PATH=/home/azureuser/focus_dict/env/bin"
ExecStart=/home/azureuser/focus_dict/env/bin/uwsgi --ini focus_dict.ini
[Install]
WantedBy=multi-user.target